* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(84, 74, 130), rgb(158, 179, 215));
  font-size: 2rem;
  font-family: sans-serif;
  color: rgb(84, 74, 130);
}
.container {
  height: 20rem;
  width: 15rem;
  background-color: rgb(158, 179, 215);
  text-align: center;
  padding-top: 12px;
  border-radius: 16px;
  border: 2px solid rgb(84, 74, 130);
}
